.normalMapContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;

  .ant-card-body {
    padding: 4px;
  }
}

.normalMaskImg {
  width: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.formLayout {
  .ant-form-item {
    margin-bottom: 15px;
  }
}
